@tailwind base;
@tailwind components;
@tailwind utilities;

.min-height {
  min-height: calc(100vh - 70px - 80px);
}


/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #111827; /* Background of the scrollbar track */
  border-radius: 10px; /* Roundness of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
